<!DOCTYPE>
<html>
<!--Sama kuin nav -->
<%- include('./partials/head.ejs')%>
<body>

<h1>404 Page</h1>

<!--Tän nav missä voi voidaan avata muita sivustoja eli ahref about, blog ja jne -->
<%- include('./partials/nav.ejs')%>

        <%- include('./partials/footer.ejs')%>
</body>
</html>